<div class="modal-body"  ng-class="{'showBody':vm.showForgotPasswordText,'hideBody':!vm.showForgotPasswordText}">
  <div class="cm-modalTitle">Trouble signing in?</div>
  <p class="cm-modalDesc">To reset your password or retrieve your username, please use the form below. We’ll send you an email with your username or a link to reset your password.</p>
  <br>
  <form name="forgotPassword" novalidate class="cm-form" ng-model-options="{debounce: {default: 10, blur: 0, submit: 0 }}">
    <div class="form-group">
      <label for="cm-username">Enter your username <strong>or</strong> email</label>
      <div class="cm-formControlWrap">
        <input name="email" required ng-model="vm.user.username" class="form-control" id="cm-username" placeholder="" cm-field-valid>
      </div>
    </div>
    <div style="margin:20px 0 0 0;" class="text-center">
      <button type="submit" ng-disabled="forgotPassword.$invalid" class="btn cm-cmBtn cm-btnMd"
              ng-click="vm.setActiveState('forgotPasswordDone')">Submit</button>
    </div>
    <br>
  </form>
</div>


