<div class="cm-expTimelineInner">
    <div class="cm-expTimelineHeader">
        <div class="expTimelineTitle cm-bdBtn cm-btnSm">Latest Discussions</div>
    </div>
    <div class="cm-expTimelineBody">
        <div class="clearfix">
            <div class="cm-expPostPanel left" id="leftPanel">
                <time-line-event ng-repeat="event in timeLineleft" event="event"></time-line-event>
            </div>
            <div class="cm-expPostPanel right" id="rightPanel">
                <time-line-event ng-repeat="event in timeLineRight" event="event"></time-line-event>
            </div>
        </div>
    </div>
    <div class="cm-expTimelineFooter">
        <div class="expTimelineTitle cm-bdBtn cm-btnSm">Begin Project // Apr 15, 2015</div>
    </div>
</div>


